<div class="text-center my-3">
  <button class="btn btn-primary mx-2" tabindex="0" href="/submissions/new">Create a new submission</button>
  <button class="btn btn-primary mx-2" tabindex="0" href="/submissions">View all submissions</button>
</div>
