<div class="text-center my-3">
  <a class="btn btn-primary mx-2" tabindex="0" href="/submissions/new">Create a new submission</a>
  <a class="btn btn-primary mx-2" tabindex="0" href="/submissions">View all submissions</a>
</div>
