<div id="message" class="alert mt-3"></div>
<script>
  document.getElementById("courseForm").addEventListener("submit", async (event) => {
    event.preventDefault();

    const courseIdInput = document.getElementById("courseId");
    const courseId = courseIdInput && courseIdInput.value;

    const courseNameInput = document.getElementById("courseName");
    const courseName = courseNameInput.value;
    const messageDiv = document.getElementById("message");

    try {
      const options = {
        name: courseName,
      };
      const response = courseId
        ? await axios.patch(`/api/courses/${courseId}`, options)
        : await axios.post("/api/courses", options);
      console.log("Success:", response);

      // Clear input field after successful submission
      courseNameInput.value = "";
      // Display success message
      displayMessage(messageDiv, "Course submitted successfully!");
    } catch (error) {
      console.error("Error:", error);
      // Display error message
      displayMessage(messageDiv, `Error submitting course: ${error.response.data.error}`, true);
    }

    // Helper function to display message
    function displayMessage(element, message, isError = false) {
      element.textContent = message;
      const oldClass = isError ? "alert-success" : "alert-danger";
      const newClass = isError ? "alert-danger" : "alert-success";
      if (element.classList.contains(oldClass)) {
        element.classList.replace(oldClass, newClass);
      } else {
        element.classList.add(newClass);
      }
    }
  });
</script>
