<div class="text-center my-3">
  <a class="btn btn-primary mx-2" tabindex="0" href="/assignments/new">Create a new assignment</a>
  <a class="btn btn-primary mx-2" tabindex="0" href="/assignments">View all assignments</a>
</div>
