<div class="text-center my-3">
  <button class="btn btn-primary mx-2" tabindex="0" href="/courses/new">Create a new course</button>
  <button class="btn btn-primary mx-2" tabindex="0" href="/courses">View all courses</button>
</div>
