<div class="text-center my-3">
  <a class="btn btn-primary mx-2" tabindex="0" href="/learners/new">Create a new learner</a>
  <a class="btn btn-primary mx-2" tabindex="0" href="/learners">View all learners</a>
</div>
