<div class="text-center my-3">
  <button class="btn btn-primary mx-2" tabindex="0" href="/learners/new">Create a new learner</button>
  <button class="btn btn-primary mx-2" tabindex="0" href="/learners">View all learners</button>
</div>
