<div class="text-center my-3">
  <a class="btn btn-primary mx-2" tabindex="0" href="/courses/new">Create a new course</a>
  <a class="btn btn-primary mx-2" tabindex="0" href="/courses">View all courses</a>
</div>
